.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #075e7a;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  .dropdown-toggle:hover{
    padding: 10px;
  }
  .dropdown-menu {
    position: absolute;
    background: rgb(15, 140, 182);
    border: 1px solid #ced4da;
    padding: 5px;
    min-width: 150px;
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-item {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
  }
  
  .dropdown-item:hover {
    background-color: #075e7a;
  }
  